<!-- src/views/dailyLogs/dailyLogs.ejs -->

<div>
    <h1>Daily Logs</h1>
    <form action="/daily-logs" method="post">
        <div class="input-field-wrapper">
            <input name="date" required placeholder="Date" type="date" class="daily-logs-input" />
            <select name="project" required class="form-select daily-logs-input" aria-label="Default select example">
                <option selected>Select project</option>
                <option value="log manager">Log Manager </option>
                <option value="portfolio">Portfolio</option>
                <option value="spell checker">Spell Checker</option>
            </select>
            <select name="role" required class=" daily-logs-input" aria-label="Default select example">
                <option selected>Select your role</option>
                <option value="1">Develper</option>
                <option value="2">Project Manager</option>
                <option value="3">Team Lead</option>
            </select>
            <input placeholder="Enter hours" type="number" class="daily-logs-input" />
        </div>
        <div class="input-field-wrapper">
            <textarea class="log-text-area" rows="3" placeholder="Enter log description"></textarea>
            <textarea class="log-text-area" rows="3" placeholder="Enter important points"></textarea>
            <textarea class="log-text-area" rows="3" placeholder="Enter any blockers"></textarea>
            <button class="add-log-button">Add Log</button>
        </div>
    </form>
    <table>
        <thead aria-colcount="7">
            <tr>
                <th style="width: 10%; min-width: 100px;">Date</th>
                <th style="width: 10%; min-width: 100px;">Project</th>
                <th style="width: 10%; min-width: 100px;">Role</th>
                <th style="width: 25%; min-width: 300px;">Description</th>
                <th style="width: 20%; min-width: 300px;">Tommorows's Plan</th>
                <th style="width: 20%; min-width: 100px;">Important note</th>
                <th style="width: 5%; min-width: 50px;">Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2023-09-20</td>
                <td>sample project</td>
                <td>Developer</td>
                <td>Description of the project </td>
                <td>Nothing special for tomorrows plan</td>
                <td>No important notes for tomorrow</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>
</div>