<div class="dashboard">
    <div class="body">
        <h1>Welcome to the <%= title %>
        </h1>
        <div class="flex-container">
            <div>
                <p style="margin-top: 10px; margin-bottom: 10px;">Time logged in July 2024</p>
                <p class="boldText"><%= duration %> hours</p>
            </div>
            <div>
                <p style="margin-top: 10px; margin-bottom: 10px;">Today's Hours</p>
                <p class="boldText">0.0 hours</p>
            </div>
        </div>
    </div>
    <div class="calendar">
        <div id='calendar'></div>
    </div>
</div>  