<div class="sidebar">
    <div class="nameBadge">
        <p>MH</p>
    </div>
    <p>Munawar Hussain</p>
    <p>Full Stack</p>
    <div class="sidebar-items">
        <a href="/" style="color: #ecf0f1;">Dashboard</a>
        <a href="/daily-logs" style="color: #ecf0f1;">Daily Logs</a>
        <h6>Additional</h6>
        <a href="leaves" style="color: #ecf0f1;">Leaves </a>
        <a href="work-from-home" style="color: #ecf0f1;">Work From Home</a>
    </div>
</div>