<div class="sidebar">
    <div class="nameBadge">
        <p>MH</p>
    </div>
    <p>Munawar Hussain</p>
    <p>Full Stack</p>
    <ul>
        <li><a href="#" style="color: #ecf0f1;">Link 1</a></li>
        <li><a href="#" style="color: #ecf0f1;">Link 2</a></li>
        <li><a href="#" style="color: #ecf0f1;">Link 3</a></li>
        <li><a href="#" style="color: #ecf0f1;">Link 4</a></li>
    </ul>
</div>